@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--projector-background: url('../../public/projector_background.jpg');
	--filmu-logo: url('../../public/filmu_plus_logo.png');

	--filmu-purple-main: #6100c2;
	--filmu-purple-light: #7900c2;
	--filmu-purple-dark: #5a04b0;

	--filmu-black-dark: #1e1e1e;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer base {
	html {
		font-family: 'Poppins', sans-serif;
	}
}

@layer components {
	.button-contained {
		background-color: var(--filmu-purple-main);
		color: white;
		font-size: 16px;
		padding: 12px 18px;
		border-radius: 10px;
	}

	.button-contained:hover {
		background-color: var(--filmu-purple-dark);
	}
}
