@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--projector-background: url('../../public/projector_background.jpg');
	--filmu-logo: url('../../public/filmu_plus_logo.png');

	--filmu-purple-main: #6100c2;
	--filmu-purple-light: #7900c2;
	--filmu-purple-dark: #5a04b0;

	--filmu-black-dark: #1e1e1e;

	--scroll-bar: #3f3e3e;
}

body {
	color: rgba(241, 245, 249, 0.7);
	background: var(--filmu-black-dark);
	overflow-x: hidden;
}

@layer base {
	html {
		font-family: 'Poppins', sans-serif;
	}
}

@layer components {
	.button-contained {
		background-color: var(--filmu-purple-main);
		color: white;
		font-size: 16px;
		padding: 12px 18px;
		border-radius: 10px;
	}

	.button-contained:hover {
		background-color: var(--filmu-purple-dark);
	}

	.centered-flex {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.scrollbar-dark {
	scrollbar-width: thin;
	scrollbar-color: var(--scroll-bar);
}

.scrollbar-dark::-webkit-scrollbar {
	width: 9px;
}

.scrollbar-dark::-webkit-scrollbar-track {
	border-radius: 4px;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
	border-radius: 4px;
	border: 6px solid var(--scroll-bar);
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.full-item {
	height: 100%;
	width: 100%;
}

.image-gradient {
	mask-image: linear-gradient(var(--filmu-black-dark) 50%, transparent);
}
